body{
    background-image: url(imagemFundoBackground.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.principal{
    text-decoration: none;
    margin-left: 200px;
}
.menu {
    background-color:rgb(220, 66, 66);
    display: inline-flex;
    width: 800px;
    height: 40px;
}
.corpo{
    background-color:rgb(122, 116, 116);
    width: 800px;
    height: 800px;
}
.texto{
    margin-left: 200px;
    margin-right: 20px;
}
#buttonHome{
    background-color: rgb(201, 122, 122);
    border-radius: 10px;
    border: none;
    width: 50px;
    height: 20px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 20px;
}
#buttonHome:hover{
    background-color: rgb(211, 202, 202);
    transform: scale(1.2);
}

#titulo{
    margin-top: 10px;
    margin-right: 145px;
}
.tipoExercicio{
    background-color: rgb(201, 122, 122);
    border-radius: 10px;
    border: none;
    width: 140px;
    height: 20px;
    margin-top: 10px;
    margin-right: 10px;
}
.tipoExercicio:hover{
    background-color: rgb(211, 202, 202);
    transform: scale(1.2);
}
